
.name1{
   
    background-color: mediumorchid;
    text-align: center;
    border: solid red 4px;
    border-radius: 16px;
    margin:0 auto;
    
}
.name4{
    color: red;
}
.name5{
    color:lime;
}
.name6{
    color: red;
}
.name7{
    color: yellow;
}
.name8{
    color:limegreen;
}
.name9{
    color: grey;
}
.name10{
    background-color: yellow;
    color: black;
}
.name11{
    background-color: red;
    color: black;
}
.name12{
    background-color: red;
    color: black;
}
.name13{
    background-color: red;
    color: black;
}
.name14{
    background-color: red;
    color: black;
}
.name15{
    background-color: red;
    color: black;
}
.name16{
    background-color: red;
    color: black;
}
.name17{
    background-color: darkgreen;
    color: black;
}
.name18{
    background-color: blueviolet;
    color: black;
}
.name19{
    background-color: blueviolet;
    color: black;
}
.name20{
    background-color: blueviolet;
    color: black;
}
.name21{
    background-color: blueviolet;
    color: black;
}
.name22{
    background-color: blueviolet;
    color: black;
}
.name23{
    background-color: darkgreen;
    color: black;
}
.name24{
background-color: blueviolet;
color: black;
}
.name25{
    background-color: blueviolet;
    color: black;
}
.name26{
    background-color: blueviolet;
    color: black;
}
.name27{
    background-color: blueviolet;
    color: black;
}
.name28{
    background-color: blueviolet;
    color: black;
}
.name29{
    background-color: darkgreen;
    color: black;
}
.name30{
    background-color: blueviolet;
    color: black;
}
.name31{
    background-color: blueviolet;
    color: black;
}
.name32{
    background-color: blueviolet;
    color: black;
}
.name33{
    background-color: blueviolet;
    color: black;
}
.name34{
    background-color: blueviolet;
    color: black;
}
.name35{
    border-collapse: collapse;
    text-align: left;
}
.name36{
 background-color: rgb(40, 149, 40);
 color: black;
 text-align: center;
}